@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.profile {
  width: 88px;
  height: 88px;
  border-radius: 275px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #667085;
  background-image: url(./img/profile.jpg);
  background-size: cover;
}

.customCard {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  height: 76px;

  /* Gray/200 */

  background: #eaecf0;
  /* Gray/200 */

  border: 1px solid #eaecf0;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.customCard:hover{
  color: #667085;
  background-color: #d0d5dd;
}

.share {
  width: 40px;
  height: 40px;
  /* Base/White */

  background: #ffffff;
  /* Gray/300 */

  border: 1px dashed #d0d5dd;
  border-radius: 20px;

  /* Inside auto layout */
}

.space {
  height: 15px;
}

.headerText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height, or 150% */
}

.cardText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
  color: black;
}

footer p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #667085;
}

footer p:hover {
  text-decoration: underline;
}

.space2 {
  height: 70px;
}
